<div class="container">
	<div class="row">
		<div class="col-lg-10">
	        <% if flash[:error] %>
	            <div class="flash-error">
	            	<h2>error</h2>
		        	<%= flash[:error] %>
	            </div>
            <% end %>
        </div>
		<div class="col-xs-3">
			<%= render 'users/userinfo', user: @user %>
			<%= render 'books/newbook', book: @book %>
		</div>

		<div class="col-xs-9">
			<h2>Books</h2>
			<table class="table">
				<tr>
					<th></th>
					<th>Title</th>
					<th>Opinion</th>
				</tr>
				<% @books.each do |book| %>
				<tr id="favorite-<%= book.id %>">
				<%= render 'books/post', book: book %>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>