<div class="container">
	<% if flash[:notice] %>
	    <div class="flash">
		    <%= flash[:notice] %>
	    </div>
    <% end %>
	<div class="row">
		<div class="col-xs-3">
			<%= render 'users/userinfo', user: @user %>
			<%= render 'books/newbook', book: @book_new %>
		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>
			<table class="table">
				<tr id="favorite-<%= @book.id %>">
					<td><%= attachment_image_tag @book.user, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", size:'30x30', class:"img-circle pull-left profile-thumb" %>
						<%= link_to @book.user.name, user_path(@book.user) %></td>
					<td><%= @book.title %></td>
					<td><%= @book.body %></td>
					<td>
            			<%= render 'favorites/favorite', book: @book %>
          			</td>
          			<td>コメント数: <%= @book.book_comments.count %></td>
					<% if @book.user == current_user %>
					<td><%= link_to 'Edit', edit_book_path(@book), class:"btn btn-success btn-xs" %></td>
					<td><%= link_to 'Destroy', book_path(@book), class:"btn btn-danger btn-xs", method: :delete, 'data-confirm' => "本当に削除しますか？" %></td>
					<% end %>
				</tr>
			</table>
			<table id="comment_area">
				<%= render 'book_comments/comment', book: @book, book_comments: @book_comments %>
			</table>

			<%= render 'book_comments/form', book: @book, book_comment: @book_comment %>
			</div>
	</div>
</div>