<div class="container">
	<div class="row">
		<div class="col-lg-2">
			<%= render 'books/list', books: @books, users: @users %>
		</div>

		<div class="col-lg-8">
			<h2>Book detail</h2>
			<table class="table">
				<tr>
					<td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, class:"image-circle pull-left profile-thumb", fallback: "no_image.jpg" %><%= user.name %></td>
					<td><%= @book.title %></td>
					<td><%= @book.body %></td>
					<td><%= link_to 'Edit', edit_book_path(@book.id), class:"btn btn-success" %></td>
					<td><%= link_to 'Destroy' destroy_book_path(@book.id), class:"btn btn-danger" %></td>
				</tr>
			</table>
		</div>
	</div>
</div>