<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="navbar navber-fixed-top navbar-inverse">
      <div class="container">
       <div class="row">
        <nav class="nav navbar-nav col-lg-7">
          <span class="title">Bookers</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>User</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Books</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>logout</a></li>
            <% else %>
            <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
            <li><a href="/home/about"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>About</a></li>
            <li><%= link_to ' sign up', new_user_registration_path, class:"glyphicon glyphicon-edit" %></li>
            <li><%= link_to ' login', new_user_session_path, class:"glyphicon glyphicon-log-in" %></li>
            <% end %>
          </ul>
        </nav>
       </div>
      </div>
  </header>
  <!-- /header -->

  <body>
    <%= yield %>
  </body>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-9">
          <p>CopyRight Infratop.inc</p>
        </div>
      </div>
    </div>
  </footer>
</html>
